#container {
    margin: auto;
    width: 800px;
    background-color: rgb(235, 212, 177);
    justify-content: space-around;
}
form {
    display: inline-block;
    margin-left: 30px;
    border: 3px solid blueviolet;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
h2 {
    color:rgb(25, 72, 173);
    text-align: center;
}

h1 {
    color: rgb(25, 72, 173);
    text-align: center;
}

.activity {
    margin-left:20px;
    height: 250px;
    width: 725px;
    border : 3px solid blueviolet;
    border-radius: 10px;
    overflow: scroll;
    padding: 15px;
}
.green {
    color: green;
}

.red {
    color: red;
}